body *{
    box-sizing: border-box;
}
::-webkit-scrollbar {
    height: rem(4);
    width: rem(4);
}

::-webkit-scrollbar-track {
    background: rgba(#979797, 0.3);
    border-radius: rem(10);
}

::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: rem(10);
}

body{
    font-family: Arial !important;
    margin: 0 !important;

}

.flex{
    display:flex
}
.flex-space-around{
    justify-content: space-around;
}
.cursor-pointer{
    cursor: pointer;
}
.MuiAppBar-colorPrimary {
   background: #0579ba !important;
}
.MuiButton-containedPrimary{
    background: #0579ba !important;
}
.MuiFormControl-root{
    margin:10px 0 !important;
}